body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* HEADER */
.header {
    width: 100%;
    height: 80px;
    background: white;
    position: relative;
}

/* LOGO */
.logo {
    font-size: 40px;
    color: purple;
    position: absolute;
    left: 40px;
    top: 18px;
}

/* NAVIGATION */
.nav {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    right: 40px;
    top: 28px;
}

.nav li {
    display: inline-block;
    margin-left: 35px;
    font-size: 16px;;
}

/* HERO SECTION */
.hero {
    width: 100%;
    height: 480px;
    position: relative;
    overflow: hidden;
}

.hero-img {
    width: 100%;
    height: 606px;
    position: absolute;
    object-fit: cover;

}

/* HERO TEXT */
.hero-text {
    position: absolute;
    top: 238px;
    left: 407px;
    right: 407px;
    bottom: 277px;
    text-align: center;
    color: white;
}

.hero-text h1 {
    margin: 0;
    font-size: 50px;
    font-weight: bold;
}

.hero-text p {
    margin-top: 10px;
    font-size: 18px;
    letter-spacing: 2px;
}

/* SERVICES INTRO */
.services-title {
    margin-top: 84px;
    padding: 50px 110px;
}

.services-title h3 {
    font-size: 14px;
    letter-spacing: 2px;
    margin: 0;
}

.services-title h2 {
    font-size: 30px;
    margin-top: 10px;
}

.services-title p {
    margin-top: 15px;
    color: #555;
    line-height: 22px;
}

/* SERVICES GRID */
.services-container {
    margin-left: 418px;
    margin-right: 98px;
    margin-top: 0px;
}

.service-box {
    width: 300px;
    height: 270px;
    display: inline-block;
    vertical-align: top;
    margin: 15px;
}

.service-box img {
    width: 300px;
    height: 170px;
    object-fit: cover;
    border-radius: 5px;
}

.service-box h4 {
    margin: 10px 0 5px;
}

.service-box p {
    font-size: 14px;
    color: #555;
    width: 260px;
}
